* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: #091921;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5rem 0;
}

.clock {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/clock.png') center center/cover;
    border: 4px solid #091921;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
        inset 0 -15px 15px rgba(255, 255, 255, 0.05),
        0 15px 15px rgba(0, 0, 0, 0.7),
        inset 0 15px 15px rgba(0, 0, 0, 0.7);
}

.clock::before {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 5;
}

.clock .hour,
.clock .minute,
.clock .second {
    position: absolute;
}

.clock .hour,
.hr {
    height: 160px;
    width: 160px;
}

.clock .minute,
.min {
    height: 220px;
    width: 220px;
}

.clock .second,
.sec {
    height: 300px;
    width: 300px;
}


.hr,
.min,
.sec {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 90px;
    background-color: #ff105e;
    border-radius: 6px;
    z-index: 1;
}

.min::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 130px;
    background-color: #8d7;
    border-radius: 6px;
    z-index: 2;
}

.sec::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 190px;
    background-color: #fff;
    border-radius: 6px;
    z-index: 3;
}


#dig h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 5rem;
}

#dig h1 #dh {
    color: #ff105e;
}

#dig h1 #dm {
    color: #88dd77;
}

#dig h1 #ds {
    color: #fff;
}

#dig h1 #apm {
    color: #97a;
}

#dig .blink {
    font-size: 7rem;
    color: rgb(105, 231, 248);
    transition: all 150ms ease-in-out;
}